/* select_test.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/static/image/bg.jpg'); /* Background image */
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    font-size: 50px;
}

.startup_heading {
    font-weight: bold;
    color: black;
    margin-bottom: 20px; /* Space below heading */
}

.select-test-button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    flex-wrap: wrap;
    margin-bottom: 20px; /* Space below buttons */
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px; /* Adjusted padding */
    font-size: 16px; /* Font size */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkblue;
}

/*In this part we will make the round shape 
    of the face,and the basic structure of face
        like add some color of face,height,width etc*/
.face {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face::before {
    /*In this part we will make 
        the mouth of the face*/
    content: "";
    position: absolute;
    top: 120px;
    width: 150px;
    height: 70px;
    background: yellow;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.face:hover::before {
    /*Here we will add the hover effects. 
        Like when the cursor will came on the mouth the 
        mouth will closed that means is radius
        will be decreased*/
    top: 120px;
    width: 150px;
    height: 20px;
    background: yellow;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*In this part we will make
    the eyes of the face*/
.eyes {
    position: relative;
    top: -30px;
    display: flex;
}

.eyes .eye {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius: 50%;
}

.eyes .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
