<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='res/favicon.ico') }}" type="image/x-icon">

    <title>Congratulations!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='congrats.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='res/logo.png') }}" class="logo" alt="Logo">

    <div class="video-container">
        <video class="congratulations_video" autoplay muted loop>
            <source src="{{ url_for('static', filename='res/congratulations.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="congratulations_content">
        <h1 class="success_text">Wohoo, you got all of them Correct!</h1>
        <a href="{{ url_for('select_test') }}" class="retry_button">Take Another Test</a>
    </div>

    <!-- Add the audio element to play the mp3 file -->
    <audio class="congrats_audio" autoplay>
        <source src="{{ url_for('static', filename='res/congratulations.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var confetti = window.confetti;
            confetti();
        });
    </script>
</body>
</html>
